<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>


<main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TiSa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <div class="dropdown nav-item">
                    <button class="btn btn-secondary dropdown-toggle" type="button"
                            data-toggle="dropdown">
                        Optic
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{link :Optic:list}">List</a>
                        <a class="dropdown-item" href="{link :Optic:insert}">Insert</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>{$title}</h1>
        <div n:foreach="$flashes as $flash" n:class="'alert ',flash, 'alert-'.$flash->type">{$flash->message}
        </div>
        {include content}
    </div>

</main>
{block scripts}
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
{/block}
</body>
</html>
