<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{$basePath}/style.css"/>
    <link rel="stylesheet" href="/tisa/www/style.css"/>
    <title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>


<main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">TiSa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <div class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle"
                       data-toggle="dropdown">
                        Items
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{link :Inventory:Item:list}">List of items</a>
                        <a class="dropdown-item" href="{link :Inventory:Item:insert}">Insert new item</a>
                        <a class="dropdown-item" href="{link :Inventory:Item:create}">Create new item</a>
                        <a class="dropdown-item" href="{link :Inventory:Search:}">Search by type</a>
                    </div>
                </div>
                <div class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle"
                       data-toggle="dropdown">
                        Product
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{link :Inventory:Product:list}">List of products</a>
                        <a class="dropdown-item" href="{link :Inventory:Product:create}">Insert new product</a>
                    </div>
                </div>
                <div class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle"
                       data-toggle="dropdown">
                        Producer
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{link :Inventory:Producer:list}">List of producers</a>
                        <a class="dropdown-item" href="{link :Inventory:Producer:create}">Insert new producer</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-3">
        <h1>{$title}</h1>
        <div n:foreach="$flashes as $flash" n:class="'alert ',flash, 'alert-'.$flash->type">{$flash->message}
        </div>
        {include content}
    </div>

</main>
{block scripts}
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    {**<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>*}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="/nette.ajax.js"></script>
    <script>
        $(function () {
            $.nette.init();
        });
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="/datagrid.js"></script>
    <script src="/datagrid-instant-url-refresh.js"></script>
    <script src="/datagrid-spinners.js"></script>


{/block}
</body>
</html>
