{layout '../../../../presenters/templates/@layout.b.latte'}
{block content}
    <ul>
        <li><a href="{plink lens}">Lens</a></li>
        <li><a href="{plink mirror}">Mirror</a></li>
        <li><a href="{plink splitter}">Splitter</a></li>
        <li><a href="{plink windows}">Windows</a></li>
        <li><a href="{plink Wedge}">Wedge</a></li>
        <li><a href="{plink filter}">filter</a></li>
        <li><a href="{plink polarizer}">Polarizer</a></li>
        <li><a href="{plink wavePlate}">Wave plate</a></li>
        <li><a href="{plink other}">Other</a></li>
        <li><a href="{plink gratings}">Gratings</a></li>
        <li><a href="{plink cristals}">Cristals</a></li>
        <li><a href="{plink xFilter}">XRL Filter</a></li>
        <li><a href="{plink xOptic}">XRL optic</a></li>
        <li><a href="{plink undefined}">undefined</a></li>
    </ul>
{/block}
