{layout '../../../../presenters/templates/@layout.b.latte'}
{block content}
    <p class="alert alert-info">
        Only if item has got a `id_number` or EUIN.
    </p>
    {control createForm}
{/block}
